NET "RST" LOC= P59;
NET "CLK" LOC= P56;
NET "ADC_OE" LOC = p61;
NET "ADC_OTR" LOC = p66;
NET "ADC_CLK" LOC = P74;
NET "ADC_BIT[11]" LOC = P111;
NET "ADC_BIT[10]" LOC = P104;
NET "ADC_BIT[9]" LOC = P101;
NET "ADC_BIT[8]" LOC = P99;
NET "ADC_BIT[7]" LOC = P97;
NET "ADC_BIT[6]" LOC = P94;
NET "ADC_BIT[5]" LOC = P92;
NET "ADC_BIT[4]" LOC = P87;
NET "ADC_BIT[3]" LOC = P84;
NET "ADC_BIT[2]" LOC = P82;
NET "ADC_BIT[1]" LOC = P80;
NET "ADC_BIT[0]" LOC = P78;
NET "RD" LOC = p26;
NET "WR" LOC = p23;
NET "RXF" LOC = P21;
NET "TXE" LOC = P16;
NET "DATA_IO[7]" LOC = P40;
NET "DATA_IO[6]" LOC = P32;
NET "DATA_IO[5]" LOC = P34;
NET "DATA_IO[4]" LOC = P47;
NET "DATA_IO[3]" LOC = P29;
NET "DATA_IO[2]" LOC = P45;
NET "DATA_IO[1]" LOC = P43;
NET "DATA_IO[0]" LOC = P50;
NET "D_CLK" LOC = p100;
NET "D_OUT" LOC = p102;
NET "D_LE" LOC = P105;
NET "REF_CLK" LOC = P98;
NET "SW_V[0]" LOC = P70;
NET "SW_V[1]" LOC = P117;
NET "SW_V[2]" LOC = P126;
NET "SW_V[3]" LOC = P123;
NET "SW_V[4]" LOC = P121;
NET "SW_V[5]" LOC = P119;
NET "LO_D_CLK" LOC = p141;
NET "LO_D_OUT" LOC = p1;
NET "LO_D_LE" LOC = P5;
NET "LO_REF_CLK" LOC = P139;
NET "RF_SW_EN" LOC = P131;
NET "RF_SW_CTL" LOC = P133;